h2{
    color:rgb(202, 90, 10);
    font-size: 40px;
}
h1{
    font-size: 50px;
}
body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
.title-line {
    border-left:5px solid darkslateblue;
}

    .flexible-container{
    display:flex ;
    margin-bottom: 10%;
    margin-left: 2%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width:80%
}
.link-button {background-image: linear-gradient(red green);
 padding: 10px 20px}

.red-color{color:rgb(202, 90, 10);}
.text{text-align: center;
margin-bottom: 5%;}

 .half-width2 img{
        width: 30%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    

